* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: black;
    height: 100vh;
}

.img-m {
    position: fixed;
    left: 46vw;
    top: 0;
    z-index: -2;
}

.img-m img {
    min-height: 100vh;
    width: 450px;
}

.mascara {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0.35057773109243695) 61%, rgba(0, 0, 0, 1) 73%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
/*
div {
    border: 2px solid red;
  }
*/
.header {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.header a {
    font-size: 30px;
    padding: 10px 24px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: yellow;
}

.header a:active {
    color: blue;
}

.mae {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}

.caixa-e {
    display: none;
    width: 50vw;
    height: 75vh;
    margin: 30px;
}

.caixa-e h1 {
    font-size: 50px;
}

.caixa-e p {
    font-size: 20px;
}

.logo {
    height: 200px;
    margin: 10px;
}

.texto {
    color: white;
    width: 70vw;
    height: 40vh;
}

.caixa-d {
    background: rgb(107, 107, 107);
    background: linear-gradient(90deg, rgba(107, 107, 107, 1) 0%, rgba(148, 144, 144, 0.6502976190476191) 50%, rgba(115, 115, 115, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    position: fixed;
    top: 0;
    right: 2vw;
    height: 100vh;
}

.icon {
    height: 35px;
    cursor: pointer;
}

.icon:hover {
    height: 50px;
}

.icon:active {
    opacity: 0.5;
}

.selecionado {
    display: block;
}

@media (max-width: 800px) {

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .mae {
        padding: 20px;
    }

    .caixa-e h1 {
        font-size: 30px;
    }

    .caixa-e p {
        font-size: 15px;
    }

    .caixa-e {
        height: 25vh;
    }

    .icon {
        height: 20px;
        
    }

    .caixa-d {

        position: fixed;
        width: auto;
        height: 200px;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px;
        top: 530px;

    }
    .mascara {
        display: none;
    }
    .header {
        background-color: black;
    }
    .img-m {
        left: 0;
    }

    .texto{
        color: black;
        height: 32vh;
    }
}